##title

Data science tools and ecosystem

##introduction

welcome to this notebook! in this note book, we will explore various concepts to data analysis using python. we'll cover topic such as data clearing,visualization and statistical analysis .let,s dive in!

##data science languages

python,R,SQL,julia,MATLAB,Scala,Java

##data science libraries

Numpy,Pandas,Matplotlib,Seaborn,Scikit-learn,Tensorflow,Pytorch,keras,NLTK,OpenCV

##data science tools

programing: python,R,julia

libraries: numpy,pandas,matplotlib,seaborn,scikit-learn,tensorflow,pytorch,kearas,nltk,opencv.

data storage: sql,mongodb,hadoop,spark.

visualization: tableau,plotly,bokeh,d3.js

IDEs: jupyter notebook,rstudio,pycharm,spyder

version contorl: git,github,gitlab,bitbucket

cloud platforms: aws,google colud platform,microsoft azure

##arithemetic expression examples

#adding two numbers

In [ ]:
result=5+3

In [4]:
print(result)

8

#subracting two numbers

In [ ]:
result=18-4

In [15]:
print(result)

14

#multiplication two numbers

In [ ]:
result=7*2

In [16]:
print(result)

14

#division two numbers

In [ ]:
result=70/5

In [18]:
print(result)

14

#multiplication

In [ ]:
num1 = 5

In [31]:
num2 = 3

In [ ]:
result_multiplicatly=num1 * num2

In [ ]:
print("multiplication result:",result_miltiply)

#addtion

In [ ]:
num3=10

In [ ]:
num4=7

In [ ]:
result_addtion=num3+num4

In [ ]:
print("addition result:",result_addtion)

#conversion from minutes to hours

In [ ]:
minutes=120

In [ ]:
hours=minutes/60

In [24]:
print("120 minutes is equal to hours")

120 minutes is equal to hours

##objectives

1.demonstrate basic arithmetic operations using python.

2.conver minuutes to hours to understandtime conversion.

3.explore the concept of variable and their usage in calculations.

4.showcase the simplicity and versatility of jupyter notebook for data analysis tasks.

5.proviade hands-0n examples for beginners to practice and understand python programing concepts.

6.encourage experimentation and exploration of additional functionalities beyond the provided examples.

##author

**[your name]**

[optional1: add addtional informatiom about the author ,such as afficiation or detials]